<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="NetSuiteConnection" connectionString="Server=SPDB01\ICG;Database=SpoonICG;User Id=myUsername;Password=myPassword;" providerName="System.Data.SqlClient"/>-->
		<add name="NetSuiteConnection" connectionString="Server=DESKTOP-R6LFB3P;Database=Destination;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!--<add key="NetSuiteConsult" value="SELECT ICGCode, NetSuiteCode, Description  FROM dbo.vGetNetSuiteCode WHERE LTRIM(RTRIM(ICGCode)) ="/>-->
		<add key="NetSuiteConsult" value="SELECT ICGCode, NetSuiteCode, Description  FROM dbo.MatchICGNetsuite WHERE LTRIM(RTRIM(ICGCode)) ="/>
	</appSettings>
</configuration>